body{
  background: rgb(30, 30, 30) ;
  padding-top:40px;
  word-wrap:break-word;
  text-align: center;
}
img{
  margin-top: 100px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 80px;
}
.adminLog{
  background-color: goldenrod;
  color: black;
}
.red{
  background-color: red;
}
.black{
  background-color:black ;
  color: white;
}
.green{
  background-color:green ;
}